# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
*.iml
.idea/
local.properties
captures/

# Signing
*.jks
*.keystore
keystore.properties

# APK / AAB
*.apk
*.aab
*.ap_

# Native
*.so
obj/

# Geodata (too large for git, download separately)
app/src/main/assets/geoip.dat
app/src/main/assets/geosite.dat

# Screenshots
screen*.png

# Misc
*.log
.DS_Store
Thumbs.db
*.tmp
